<!DOCTYPE html>
<html>
    <head>
        <title>Data Page</title>
        <style>
        h3{
            color:crimson;
            font-style: oblique;
            font-size: 20px;
            background:khaki;
        }
        body{
            background-color:darkgray;
        }
        </style>
    </head>
    <body>
    <h1 style="color: chartreuse ; font-style: italic; font-size: 40px; text-align: center">User Details</h1>
       <h3>name : {{name}}</h3>
       <h3>email : {{email}}</h3>
       <h3>dob : {{dob}}</h3>
       <h3>branch : {{branch}}</h3>
       <h3>gender : {{gender}}</h3>
    </body>
</html>