<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>Table Example</h1>
        <table border="1">
           <thead>
               <th>SNO</th>
               <th>NAME</th>
               <th>College</th>
               <th>EMAIL</th>
           </thead>
           <tbody>
               <tr>
                   <td>1</td>
                   <td>Tulasi</td>
                   <td>AUCEW</td>
                   <td>123@gmail.com</td>
               </tr>
               <tr>
                    <td>2</td>
                    <td>Mallika</td>
                    <td>SUV</td>
                    <td>456@gmail.com</td>
                </tr>
           </tbody>
        </table>
    </body>
</html>